<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110746841086-2710ukkgm6idqvif66th63rp63huccie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110746841086-2710ukkgm6idqvif66th63rp63huccie</string>
	<key>API_KEY</key>
	<string>AIzaSyDC70FLR48aQlgkPjs0SkkDij9Ojh6Qtko</string>
	<key>GCM_SENDER_ID</key>
	<string>110746841086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sirssss.Business-Card</string>
	<key>PROJECT_ID</key>
	<string>businesscard-b8687</string>
	<key>STORAGE_BUCKET</key>
	<string>businesscard-b8687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110746841086:ios:4b7b065974b737dd6e9aaf</string>
	<key>DATABASE_URL</key>
	<string>https://businesscard-b8687.firebaseio.com</string>
</dict>
</plist>